<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/776b2f53-ecc8-492e-adf0-5e0c6ec95ae2/resourceGroups/sinapsis-back20220520151036ResourceGroup/providers/Microsoft.Web/sites/sinapsis-back20220520151036</ResourceId>
    <ResourceGroup>sinapsis-back20220520151036ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/776b2f53-ecc8-492e-adf0-5e0c6ec95ae2/resourceGroups/sinapsis-back20220520151036ResourceGroup/providers/Microsoft.ApiManagement/service/sinapsis-backapi/apis/sinapsis-back</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sinapsis-back20220520151036.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>38c6c61c-1e5c-4957-afc3-1f77b3acf265</ProjectGuid>
    <MSDeployServiceURL>sinapsis-back20220520151036.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sinapsis-back20220520151036</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$sinapsis-back20220520151036</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>